{% extends "base2.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block contenido %}
<div class="container mt-4">
    <div class="card shadow-sm" style="max-width: 500px; margin: auto;">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Actualizar Contraseña: {{ usuario.username }}</h5>
        </div>
        <div class="card-body">
            <p class="text-muted small">Introduce tu nueva contraseña a continuación:</p>
            
            {# Esto solo dibujará lo que definiste en formChangePassword #}
            {{ render_form(form) }}
            
        </div>
    </div>
</div>
{% endblock %}